<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.template.locationupdatebackgroundsample">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <application
        android:name=".MyApp">
        <service
            android:name=".MyForegroundService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="location" />
        <receiver
            android:name=".MyBackgroundLocationUpdatesBroadcastReceiver"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>